node_modules
oz/node_modules
/build
/cache
/artifacts
.DS_Store
/artifacts
secrets
yarn-error.log
contracts.orig
Proxy/node_modules
.openzeppelin/.session
/src/artifacts
/src/cache
/src/build
src/contracts/*/flattened_*.sol
src/build_contracts
src/tmp_contracts
src/contracts/v612/FlashArbitrageExecutor.sol
